<p *ngIf="error">{{ error }}</p>

<div *ngIf="musicStatus; else loading">
  <ng-container
    *ngIf="
      musicStatus.isSpotifyAccountRegistered === true;
      else notAuthenticated
    "
  >
    <h1>Connecté à Spotify</h1>
    <h3>
      État du moteur de playlist :
      {{ musicStatus.engineStarted ? "Démarré" : "Arreté" }}
    </h3>
    <button *ngIf="!musicStatus.engineStarted" (click)="startEngine()">
      Démarrer
    </button>
    <button *ngIf="musicStatus.engineStarted" (click)="stopEngine()">
      Arrêter
    </button>
    <p *ngIf="musicStatus.message">{{ musicStatus.message }}</p>
    <h3>Musique en cours de lecture :</h3>
    <app-music
      *ngIf="musicStatus.currentPlay"
      [music]="musicStatus.currentPlay"
    ></app-music>
    <h3>File d'attente :</h3>
    <app-queue></app-queue>
    <h3>Backlog :</h3>
    <app-backlog></app-backlog>
  </ng-container>
</div>

<ng-template #notAuthenticated>
  <button (click)="login()">Login to spotify</button>
</ng-template>

<ng-template #loading>
  <p>Chargement...</p>
</ng-template>
