<h1>User list</h1>
<table class="user-list">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>ip</th>
      <th>role</th>
      <th>noIPverification</th>
      <th>loginTries</th>
      <th>locked</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList">
      <th>{{ user.id }}</th>
      <th>{{ user.name }}</th>
      <th>{{ user.ip }}</th>
      <th>{{ user.role }}</th>
      <th>{{ user.noIPverification }}</th>
      <th>{{ user.loginTries }}</th>
      <th>{{ user.locked }}</th>
      <th>{{ user.created_at }}</th>
      <th>{{ user.updated_at }}</th>
      <td class="actions">
        <ng-container *ngIf="user.role !== 1">
          <button (click)="deleteUser(user.id)">Delete</button>
          <button (click)="unlockUser(user.id)">Unlock</button>
          <button (click)="toggleIPVerification(user.id)">Toggle IP</button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>

<h1>Vote settings</h1>
<div *ngIf="maxVote !== null">
  <input type="number" [(ngModel)]="maxVote" />
  <button (click)="setMaxVotes(maxVote)">Save</button>
</div>

<h1>Max queuable songs settings</h1>
<div *ngIf="maxQueuableSongs !== null">
  <input type="number" [(ngModel)]="maxQueuableSongs" />
  <button (click)="setMaxQueuableSongs(maxQueuableSongs)">Save</button>
</div>
