<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <label
      >Ton année de naissance
      <input
        #input
        type="number"
        formControlName="birthYearControl"
        [min]="1900"
        [max]="2020"
    /></label>
  </p>
  <p *ngFor="let emoji of emojis">
    <label>
      {{ emoji.emoji }}
      <input
        type="radio"
        [value]="emoji.description"
        formControlName="emojiControl"
      />
    </label>
  </p>
  <p><button type="submit">Envoyer</button></p>
  <p *ngIf="error">{{ error }}</p>
</form>
