<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <input
      #input
      type="number"
      formControlName="birthYearControl"
      [min]="1900"
      [max]="2020"
      placeholder="Année de naissance"
      required="true"
    />
  </p>
  <p *ngFor="let emoji of emojis">
    <label>
      {{ emoji.emoji }}
      <input
        type="radio"
        [value]="emoji.description"
        formControlName="emojiControl"
      />
    </label>
  </p>
  <p><button type="submit">Envoyer</button></p>
  <p *ngIf="error">{{ error }}</p>
</form>
