<header>
  <div *ngIf="isLoggedIn">
    Bonsoir {{ username }}
    <nav *ngIf="isLoggedIn">
      <a *ngIf="isAdmin" routerLink="/admin/spotify-device"
        >Connecter Spotify</a
      >
    </nav>
  </div>
</header>
<main>
  <app-search *ngIf="isLoggedIn"></app-search>
  <app-queue></app-queue>
  <router-outlet></router-outlet>
</main>
<footer>
  <p>
    Développé avec ❤️ par QuentinLemCode
    <a class="icon-link" href="https://twitter.com/QuentinLemCode"
      ><fa-icon [icon]="faTwitter"></fa-icon
    ></a>
    <a class="icon-link" href="https://github.com/QuentinLemCode">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <br />
    Un très grand merci à Théo Charlot pour le design ✏️
    <br />
    <a *ngIf="isLoggedIn" [routerLink]="" (click)="logout()">Se déconnecter</a>
  </p>
</footer>
