@import "../../../colors.scss";

:host {
  display: inline-flex;
  max-width: 100%;
  min-width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;


  background: var(--bg-primary);
  border-radius: 15px;

  font-family: 'Poppins';
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  color: var(--font-primary);

  .cover {

    width: 60px;
    height: 60px;

    border-radius: 10px;
    order: 0;
    flex: 0 0 60px;
  }

  .info {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .adder {
    font-size: 14px;
    font-weight: 300;
  }

  .title {
    font-weight: 600;
  }

  button {
    padding: 15px 20px;
  }

}
