<div class="grid">
  <div class="edito">
    <h1>Viens passer tes meilleurs sons ! 🎉</h1>
    <p>
      Envie de nous faire découvrir la dernière pépite que tu as entendu ?<br />
      Ou alors la musique qui passe ne te plaît pas ?
    </p>
    <p>
      Viens proposer ta musique ! Et si les autres votent pour elles, alors elle
      est lancé direct !
    </p>
    <p>
      Pour cela, connecte-toi sur <strong>{{ serverUrl }}</strong> ou scanne le
      QR Code ci-dessous
    </p>
    <canvas #qrcode></canvas>
  </div>
  <app-queue></app-queue>
</div>
